@import url(../fonts/angkor.css);

#competences {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 800px;
	margin:30px auto;
}

.competence
{	
	display: flex;
	background-size: 60px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right:10px;
	width: 100px;
	height: 40px;
	border-radius: 15px;
	border: 6px solid rgb(100,20,15);
	background-color: rgb(230, 200, 160);
	font-family: monospace;
	font-size: 20px;
	align-items: center;
	color: rgb(25, 15, 100);
}
.competence span{
	margin:0 auto;
}

.competence:hover 
{
	cursor: pointer;
}