#apple {
	background-image: url(../../assets/img/apple.png);	
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 30px;
	margin: 0px 10px 10px 10px;
}

#apple-basket {
	margin-top:15px;
}