#competences {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 800px;
	margin:0px auto;
}

.vintage-modal
{ 
	background: rgb(240, 200, 160);
  	border: 1px solid rgb(20, 60, 80);
}

.competence
{	
	display: flex;
	background: rgb(240, 200, 160);
	border: 1px dotted rgb(20, 60, 80);
	color: rgb(20, 60, 80);
	font-family: monospace, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	padding: 4px 6px 2px;
	margin-right: 5px;
	margin-top: 5px;
}

.competence-technologies
{
	color: rgb(20, 60, 80);
	font-family: "Satisfy", sans-serif;
	font-size: 18px;
	width: 92%;
	font-weight: bolder;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 30% 14% 14% 14% 14% 14%;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: ". . . . . .";
	align-items: left;
}

.competence-technologies .col {
	margin: auto 0;
	margin-bottom: 25px;
}

.modal-dialog {
	max-width: 95%;
}

.modal-body
{
	padding: 0;
}

.modal-lg {
	max-width: 800px;
}

.competence-title
{
	margin: auto 0;
	margin-bottom: 25px;
}

.header {
	margin-bottom: 30px;
	height: 100px;
    border-bottom: 1px solid;
}

@media only screen and (max-width: 1000px) {
	.competence-technologies
	{
		font-size: 15px;
	}
}

.header .col {
	transform: rotate(-30deg);
}

.competence-header-name {
	transform: translateY(50%) !important;
}

.competence-technologies .name
{
	grid-row: 1;
	grid-column: 1;
}

.competence-technologies .one
{
	grid-row: 1;
	grid-column: 2;
}

.competence-technologies .two
{
	grid-row: 1;
	grid-column: 3;
}

.competence-technologies .three
{
	grid-row: 1;
	grid-column: 4;
}

.competence-technologies .four
{
	grid-row: 1;
	grid-column: 5;
}

.competence-technologies .five
{
	grid-row: 1;
	grid-column: 6;
}

.competence span{
	margin:0 auto;
}

.competence:hover 
{
	cursor: pointer;
}