@import url(../../assets/fonts/satisfy.css); 
@import url(../../assets/fonts/six-caps.css);


html {
  height: 100%;
}

body{
    height: 100%;
    background-image:  radial-gradient(transparent, rgba(0, 0, 0, 0.6)), url(../../assets/img/bg.png);
}

#github {
  background-image: url(../../assets/img/github.png);
  height: 25px;
  width:  25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

#linkedin {
  background-image: url(../../assets/img/linkedin.png);
  height:  25px;
  width:  25px;
  background-size: contain;
  background-repeat: no-repeat;
}

#tv {
  background-image: url(../../assets/img/old-tv.png);
  min-width: 720px;
  min-height: 410px;
  background-size: contain;
  background-repeat: no-repeat;
}

#screen {
  margin-left: -114px;
  margin-top: 37px;
  height: 300px;
  width: 420px;
  border-radius: 3px;
}

#gameboy {
  background-image: url(../../assets/img/gameboy.png);
  width: 500px;
  height: 740px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#mobile-screen {    
  margin-left: -1px;
  margin-top: 75px;
  height: 360px;
  width: 360px;
  border-radius: 3px;
}

#mobile-left {
  /* background-color: red; */
  left: 9px;
}

#mobile-right {
  /* background-color: blue; */
  left: 194px;
}

.mobile-horizontal
{
  width: 105px;
  height: 78px;
  top: 87px;
}

#mobile-up {
  /* background-color: green; */
  top: -5px;
}

#mobile-down {
  /* background-color: orange; */
  top: 157px;
}

.mobile-vertical
{
  height: 100px;
  width: 80px;
  left: 114px;
}

#mobile-space {
  /* background-color: grey;
  border: 2px solid black; */
  opacity: 0.8;
  border-radius: 50%;
  left: 338px;
  top: 73px;
  width: 105px;
  height: 105px;
}

.modal-completed-content {
    color: rgb(20, 60, 80);
    font-family: "Satisfy", sans-serif;
    font-size: 21px;
    width: 92%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.modal-completed-content h1 {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10px;
}

.me {
  height: 100px;
  width: 100px;
  border: 2px solid;
  margin-bottom: 10px;
  border-radius: 50%;
}

.modal-completed-content button {
  font-family: Arial, Helvetica, sans-serif;
}

.modal-header-completed {
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.mobile-controls {
  position: relative;
}

.touch-button {
  position: absolute;
}

.title
{
    margin-top: 50px;
}

.vintage-span
{
    color: rgb(230, 200, 160);
    display: block;
    font-family: 'Satisfy', cursive;
    font-size: 23px;
}

.modal-footer, .modal-header {
  border-bottom: 0px;
  border-top: 0px;
}

.modal-footer
{
  margin:0 auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon
{
  color:black;
}

.blink 
{
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
  }

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:2vh;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
}

.body-row {
  grid-row: 1;
}

.footer-row {
  margin-bottom: 3vh;
}

.vertical-flex {
    flex-direction: column;
}

.game-container
{
    margin-top: 30px;
}

.vintage {
    font-family: 'Six Caps', sans-serif;
    font-size: 120px;
    letter-spacing: 15px;
    line-height: 1;
    margin: 0;
    position: relative;
    min-width: 720px;
  }

  
.span-small {
  margin:0;
  font-size: 18px;
}

#instruction {
  margin-top: 12px;
}

#about {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

  @media only screen and (max-width: 800px) and (pointer:coarse) {
    .vintage {
      font-size: 20vw;
      letter-spacing: 0.8vw;
      line-height: 1;
      min-width: 100%;
    }

    #github {
      width: 4vw;
      height: 4vw;
    }

    .title {
      margin-top: 1vh;
    }
        
    .vintage-span,.span-small
    {
        font-size: 4.2vw;
    }

    #gameboy {
      width: 368px;
      height: 560px;
  }
  
    #mobile-screen {    
      height: 270px;
      width: 270px;
      margin-left: -1px;
      margin-top: 59px;
    }
  
    
    #mobile-left {
      left: 1px;
    }
  
    #mobile-right {
      left: 138px;
    }
  
    .mobile-horizontal
    {
      width: 80px;
      height: 58px;
      top: 65px;
    }
  
    #mobile-up {
      top: -5px;
    }
  
    #mobile-down {
      top: 118px;
    }
  
    .mobile-vertical
    {
      height: 75px;
      width: 58px;
      left: 81px;
    }
  
    #mobile-space {
      left: 252px;
      top: 56px;
      width: 77px;
      height: 77px;
    }
}


@media only screen and (max-width: 600px) and (pointer:coarse) {
  .vintage-span,.span-small
  {
      font-size: 4.2vw;
  }

  #gameboy {
    width: 330px;
    height: 422px;
}

  #mobile-screen {    
    height: 200px;
    width: 200px;
    margin-left: -1px;
    margin-top: 46px;
  }

  
  #mobile-left {
    left: 29px;
  }

  #mobile-right {
    left: 132px;
  }

  .mobile-horizontal
  {
    width: 59px;
    height: 44px;
    top: 49px;
  }

  #mobile-up {
    top: -5px;
  }

  #mobile-down {
    top: 89px;
  }

  .mobile-vertical
  {
    height: 59px;
    width: 44px;
    left: 88px;
  }

  #mobile-space {
    left: 215px;
    top: 42px;
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 425px) {
  #gameboy {
    width: 320px;
    height: 480px;
}

  #mobile-screen {    
    height: 230px;
    width: 230px;
    margin-left: -2px;
    margin-top: 52px;
  }

  
  #mobile-left {
    left: 4px;
  }

  #mobile-right {
    left: 122px;
  }

  .mobile-horizontal
  {
    width: 68px;
    height: 51px;
    top: 54px;
  }

  #mobile-up {
    top: -5px;
  }

  #mobile-down {
    top: 100px;
  }

  .mobile-vertical
  {
    height: 65px;
    width: 50px;
    left: 72px;
  }

  #mobile-space {
    left: 219px;
    top: 47px;
    width: 65px;
    height: 65px;
  }
}

@media only screen and (max-width: 385px) {
  #gameboy {
    width: 300px;
    height: 430px;
}

  #mobile-screen {    
    height: 210px;
    width: 210px;
    margin-left: -2px;
    margin-top: 47px;
  }

  #mobile-left {
    left: 10px;
  }

  #mobile-right {
    left: 116px;
  }

  .mobile-horizontal
  {
    width: 61px;
    height: 45px;
    top: 44px;
  }

  #mobile-up {
    top: -12px;
  }

  #mobile-down {
    top: 85px;
  }

  .mobile-vertical
  {
    height: 60px;
    width: 45px;
    left: 71px;
  }

  #mobile-space {
    left: 201px;
    top: 36px;
    width: 60px;
    height: 60px;
  }
}


@media only screen and (max-width: 350px) {
  #gameboy {
    width: 230px;
    height: 350px;
  }

  #mobile-screen {   
    height: 170px;
    width: 170px;
    margin-left: -1px;
    margin-top: 35px;
  }
  
  #mobile-left {
    left: 1px;
  }

  #mobile-right {
    left: 87px;
  }

  .mobile-horizontal
  {
    width: 50px;
    height: 37px;
    top: 39px;
  }

  #mobile-up {
    top: -5px;
  }

  #mobile-down {
    top: 72px;
  }

  .mobile-vertical
  {
    height: 48px;
    width: 36px;
    left: 51px;
  }

  #mobile-space {
    left: 157px;
    top: 33px;
    width: 50px;
    height: 50px;
  }
}

/* @media (orientation: landscape)
and (min-resolution: 117dpi) 
and (max-resolution: 119dpi),
 (orientation: landscape) 
 and (min-resolution: 131dpi) 
 and (max-resolution: 133dpi), 
  (orientation: landscape)  
  and (min-resolution: 145dpi) 
  and (max-resolution: 154dpi), 
    (orientation: landscape)  
    and (min-resolution: 162dpi) 
    and (max-resolution: 164dpi), 
      (orientation: landscape) 
      and (min-resolution: 169dpi)*/
      /* @media (orientation: landscape) and (orientation: landscape)  */
@media screen and (orientation: landscape) and (max-width: 1100px) and (pointer:coarse)
{
        .main-container {
          visibility: collapse !important;
          
        }

        .mobile-landscape-unsupported {
          visibility: visible !important;
          position: absolute;
          width: 100%;
          text-align: center;
      }

        .landscape-message:after {
          content: "Landscape mode not (yet) supported please turn your device";
        }

        .vintage-span 
        {
          font-size: 4vw !important;
        }

        body {
          height: 50%;
          overflow: hidden;
        }
    }

.vintage-container {
    display: inline-block;
    margin: 25px auto 40px;
  }
  

.vintage-top {
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.vintage-bot {
  text-shadow: 
    2px 1px rgb(85, 10, 0),
    4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15),
    8px 5px rgb(105, 25, 20),
    10px 6px rgb(110, 30, 25),
    12px 7px rgb(115, 30, 30),
    14px 8px rgb(120, 30, 35),
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black,
    28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7),
    32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3),
    36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}

.invisible {
  display: none;
}