@import url(../../assets/fonts/satisfy.css); 
@import url(../../assets/fonts/six-caps.css);


html {
  height: 100%;
}

body{
    height: 100%;
    background-image:  radial-gradient(transparent, rgba(0, 0, 0, 0.6)), url(../../assets/img/bg.png);
}

#github {
  background-image: url(../../assets/img/github.png);
  height: 25px;
  width:  25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

#linkedin {
  background-image: url(../../assets/img/linkedin.png);
  height:  25px;
  width:  25px;
  background-size: contain;
  background-repeat: no-repeat;
}

#tv {
  background-image: url(../../assets/img/old-tv.png);
  min-width: 720px;
  min-height: 410px;
  background-size: contain;
  background-repeat: no-repeat;
}

#screen {
    margin-left: 72px;
    margin-top: 13px;
    border-radius: 5px;
}

#gameboy {
  background-image: url(../../assets/img/gameboy.png);
  min-width: 820px;
  min-height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
}

#mobile-screen {
    margin-left: 225px;
    margin-top: 122px;
    border-radius: 5px;
}

.mobile-controls {
  position: relative;
  margin-left: 237px;
  margin-top: 12px;
}

.touch-button {
  position: absolute;
}

#mobile-left {
  /* background-color: red; */
  width: 50px;
  height: 76px;
  margin-top: 37px;
  border-radius: 15%;
}

#mobile-up {
  /* background-color: green; */
  margin-top: -12px;
  margin-left: 37px;
  height: 50px;
  width: 77px;
  border-radius: 15%;
}

#mobile-right {
  /* background-color: blue; */
  width: 50px;
  height: 76px;
  margin-left: 102px;
  margin-top: 37px;
  border-radius: 15%;
}

#mobile-down {
  /* background-color: orange; */
  margin-left: 38px;
  margin-top: 113px;
  height: 50px;
  width: 77px;
  border-radius: 15%;
}

#mobile-space {
  /*background-color: grey;*/
  margin-left: 236px;
  margin-top: -3px;
  width: 91px;
  height: 91px;
  border-radius: 50%;
}

.title
{
    margin-top: 50px;
}

.vintage-span
{
    margin-top: 30px;
    color: rgb(230, 200, 160);
    display: block;
    font-family: 'Satisfy', cursive;
    font-size: 26px;
}
.modal-footer, .modal-header {
  border-bottom: 0px;
  border-top: 0px;
}

.modal-footer
{
  margin:0 auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon
{
  color:black;
}

.blink 
{
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
  }

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
}

.body-row {
  grid-row: 1;
}

.footer-row {
  margin-top:15px;
  grid-row: 2;
}

.vertical-flex {
    flex-direction: column;
}

.game-container
{
    margin-top: 30px;
}

.vintage {
    font-family: 'Six Caps', sans-serif;
    font-size: 120px;
    letter-spacing: 15px;
    line-height: 1;
    margin: 0;
    position: relative;
    min-width: 720px;
  }

.vintage-container {
    display: inline-block;
    margin: 25px auto 40px;
  }
  

.vintage-top {
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.vintage-bot {
  text-shadow: 
    2px 1px rgb(85, 10, 0),
    4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15),
    8px 5px rgb(105, 25, 20),
    10px 6px rgb(110, 30, 25),
    12px 7px rgb(115, 30, 30),
    14px 8px rgb(120, 30, 35),
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black,
    28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7),
    32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3),
    36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}

.span-small {
  font-size: 20px;
  margin:0;
}

.invisible {
  visibility: collapse !important;
}